
#include "bits/stdc++.h"
#include "../libs/io/output.h"
#include "../libs/io/input.h"

class %ClassName% {
public:
	void solveSingle() {
	}

	void solve() {
	    int n = 1;
	    n = in.readInt();
        for (int i = 0; i < n; ++i ) {
            solveSingle();
        }
    }
};